<h5 class="text-danger my-3 mx-auto">Admin component</h5>
<div class="background">
    <div class="form">
        <form action="" (submit)="onSave()" [formGroup]="myForm">
            <label for="">Name</label>
            <input type="text" class="form-control" name="Name" formControlName="name">
            <label for="">Age</label>
            <input type="text" class="form-control" name="Age" formControlName="age">
            <label for="">PhoneNumber</label>
            <input type="text" class="form-control" name="PhoneNumber" formControlName="phoneNumber">
            <label for="">Image</label>
            <input type="file" class="form-control" id="fileInput" (change)="uploadImage($event)">
            @if (progress) {
            <div class="progress my-3">
                <div class="progress-bar progress-bar-striped" role="progressbar" [ngClass]="getChangeDection()"
                    aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100">
                    {{ progress }} % done
                </div>
            </div>
            }
            <button class="btn btn-primary mx-5 my-3"> Submit</button>
        </form>

        <button class="btn btn-primary mx-5" (click)="defaultSave()">defaultValue</button>
    </div>
    <table class="table my-3 table-striped table-bordered">
        <thead>
            <tr class="table-dark">
                <th>S.Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>PhoneNumber</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (post of posts; track post.id;let i =$index) {
            <tr>
                <td>{{i+1}}</td>
                <td>{{post.name}}</td>
                <td>{{post.age}}</td>
                <td>{{post.phoneNumber}}</td>
                <td><img src="{{post.imageUrl}}" alt=""></td>
                <td><button class="btn btn-danger" (click)="deletePost(post.id)">DeletePost</button>
                    <button class="btn btn-success mx-3" (click)="onsetDoc(post.id)">setDoc</button>
                    <button class="btn btn-primary mx-3" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" (click)="setUpdatePost(post.id)">UpdateDoc</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal-1">
                        updateNewData
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<!-- modal -->
@for (post of posts; track post.id) {
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="updateFrom">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="updateName" class="form-control" formControlName="name">
                    <label for="age" class="form-label">Age</label>
                    <input type="text" name="updateAge" class="form-control" formControlName="age">
                    <label for="phoneNumber" class="form-label">phoneNumber</label>
                    <input type="text" name="updatePhoneNumber" class="form-control" formControlName="phoneNumber">
                    <label for="uploadImage">Image</label>
                    <input type="file" name="imageUrl" (change)="uploadImage($event)" class="form-control">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updatePost()" aria-label="Close"
                    data-bs-dismiss="modal">Save changes
                </button>
            </div>
        </div>
    </div>
</div>
}
@for (post of posts; track post.id) {
<div class="modal fade" id="exampleModal-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" [(ngModel)]="command">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updatenewData(post.id)">Save changes</button>
            </div>
        </div>
    </div>
</div>
}