img{
    width: 50px;
    border-radius: 50%;
    background: lightblue;
    padding: 10px;
    /* margin: auto; */
    // margin: 50px 0 0 50px;
}
.background{
    // background-color: #1e7909;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    width: 320px;
    padding: 10px;
}
.form-background{
    width: 50%;
    margin: auto;
    margin-top: 10%;
    border: 2px solid black;
    padding: 40px;
}